.wrapper {
  height: 100vh;
  background-size: cover;
  background-image: url("../../assets/bg1.jpeg");
}

.form {
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: rem(900px);
  max-width: rem(450px);
  padding-top: rem(80px);
  max-width: 700px;
  height: 100vh;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}
